<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/canvas.css">
  
</head>

<body>
  <header>
    <h1><%= title %></h1>
  </header>
	<div role="main">
		<form method="post" action="/meeting/join_teacher">
			<section>
				<div class="form-part">
					<label for="channel-name-text">Channel Name</label>
					<input id="channel-name-text" name="channelName" value="<%= form.channelName %>">
				</div>
				<div class="form-part">
					<label for="member-name-text">Member Name</label>
					<input id="member-name-text"name="memberName" value="<%= form.memberName %>">
				</div>
				<div class="form-part">
					<label for="deskCols">席の列数選択</label>
					<input id="deskColumns" name="deskColumns" value="<%= form.deskColumns %>">
				</div>
                <div class="form-part">
					<label for="deskRaws">席の行数選択</label>
					<input id="deskRows" name="deskRows" value="<%= form.deskRows %>">
				</div>
				<div class="btn-wrapper">
					<button id="get-meeting-page">join</button>
				</div>
			</section>
		</form>
	</div>
	
	<canvas id="classroomCanvas" width="500" height="400"></canvas>
	<script src="/javascripts/classCanvas.js"></script>
</body>

</html>