<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="links">

      <a id="join" href="<%= link_teacher.href %>"><%=link_teacher.text %>&gt;&gt;</a><br>
      <a id="meeting" href="<%= link_meeting.href %>"><%=link_meeting.text %>&gt;&gt;</a><br>

    </div>
  </body>
</html>
